.container-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.container-nav {
  display: flex;
  height: 15%;
  padding: 10px;
  width: 100%;
}

.container-content {
  align-items: center;
  background-color: rgb(174, 255, 127);
  display: flex;
  height: 85%;
  justify-content: center;
  margin: 5px;
  width: 100%;
}

.content-left {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 27%;
}

.content-right {
  background-color: rgb(230, 230, 230);
  display: flex;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  width: 73%;
}
