* {
  font-family: ' Epilogue' , Verdana , Geneva , Tahoma , sans-serif;
  font-style: normal;
  margin: 0;
}

.container-nav {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 106px;
  justify-content: space-between;
  width: 100%;
}
