.container-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.back {
  display: flex;
  height: 100%;
}

.back img {
  margin: 35px;
  margin-bottom: 0;
}

.detail-page-left {
  background-color: hsl(0, 0%, 93%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-name-image {
  align-items: center;
  background-color: white;
  box-shadow: 0.01px 4px 15px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 516px;
  justify-content: space-evenly;
  margin: 35px;
  width: 488px;
}

.page-name-image img {
  cursor: pointer;
  display: flex;
  height: 365px;
  top: 280px;
}

.product-detail-title {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  margin: 35px;
  margin-top: 35px;
  text-align: center;
}

.detail-page-right {
  align-items: center;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
}

.detail-page-right h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 35px;
  margin-top: 35px;
}

.detail-page-right li {
  color: hsl(220, 4%, 60%);
  font-size: 16px;
  font-weight: 400;
  margin: 35px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.product-detail-price {
  font-size: 20px;
  font-weight: 600;
  margin: 17.5px;
}

.product-detail-price button {
  background: hsl(158, 60%, 48%);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 39px;
  transition: all ease 0.2s;
  width: 245px;
}

.product-detail-price button:hover {
  background: hsl(225, 100%, 45%);
  border: none;
  box-shadow: 2.76px 2.76px 5.52px #0000000d;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 39px;
  transform: translateY(-5px);
  width: 245px;
}
