.container-product {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: auto auto auto auto;
  margin: 35px;
}

.product {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.product-card {
  align-items: center;
  background-color: white;
  box-shadow: 2.76px 2.76px 5.52px #0000000d;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 360px;
  padding: 10px;
  width: 280px;
}

.product-img {
  display: flex;
  padding: 5px;
}

.product-img img {
  height: 210px;
  padding: 5px;
}

.product-price {
  align-items: flex-end;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
}

.product-price p {
  color: hsl(224, 7%, 71%);
  font-size: 16px;
}

.product-price button {
  background: hsl(158, 60%, 48%);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 39px;
  width: 245px;
}

.product-price button:hover {
  background: hsl(225, 100%, 45%);
  border: none;
  box-shadow: 2.76px 2.76px 5.52px #0000000d;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 39px;
  width: 245px;
}

.product-title {
  display: flex;
  font-weight: 600;
  max-width: 200px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
