.container-detail {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 35px;
  padding: 10px;
}

.product-detail {
  align-items: center;
  background-color: white;
  box-shadow: 2.76px 2.76px 5.52px #0000000d;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.product-detail-img {
  display: flex;
  padding: 5px;
}

.product-detail-img img {
  height: 500px;
  padding: 5px;
}

.product-detail-price {
  align-items: flex-end;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
}

.product-detail-price p {
  color: hsl(224, 7%, 71%);
  font-size: 16px;
}

.product-detail-price button {
  background: hsl(158, 60%, 48%);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 39px;
  transition: all ease 0.2s;
  width: 245px;
}

.product-detail-price button:hover {
  background: hsl(225, 100%, 45%);
  border: none;
  box-shadow: 2.76px 2.76px 5.52px #0000000d;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 39px;
  transform: translateY(-5px);
  width: 245px;
}

.product-detail-title {
  display: flex;
  font-weight: 600;
  max-width: 200px;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
